@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

body {
	font-size: 18px;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90dvh;
	background: white;
}

.content {
	border-radius: 1rem;
	background: white;
}

#avatar {
	width: 150px;
	padding: 10px;
	visibility: hidden;
	display: none;
}

#text {
	font-family: "NanumSquareNeo", san-serif;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	color: black;
	height: 20px;
}

#title, #title2 {
	font-family: "NanumSquareNeo", san-serif;
	font-size: 60px;
	padding: 0px 0px 0px 0px;
	margin: 10px 10px 10px 10px;
	color: #7d7d7d;
	/*text-shadow: 4px 3px #eaeaea;*/
}

#mail {
	font-family: "NanumSquareNeo", san-serif;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	color: #7d7d7d;
	visibility: hidden;
}

/*
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';
*/

/* models & cotton with airMode */
* {
    cursor: none;
}

section {
	position: relative;
}

#title {
	/*margin: 0;*/
}

#title2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .2;
}

#cotton-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	pointer-events: none;
	background-color: #bbbbbb;
	transform: translate(-20px, -20px);    /* move out from window before cotton init */
}
